## Instrucción de esta actividad

> 3.- Crear una sola base de datos que tenga todas las tablas de los archivos anteriores (usando las herramientas aprendidas en 2). Haz una para la temperatura, y otra para las lluvias.

In [66]:
# Importando cosas chulas
import pandas as pd
import numpy as np

### Temperaturas

In [67]:
# Definiendo algunas tablas, temperatura mínima, temperatura media y temperatura máxima
tempMin = pd.read_csv("Actividad2.1/TemperaturaMinima2019.csv", encoding="Latin-1")
tempMedia = pd.read_csv("Actividad2.1/TemperaturaMedia2019.csv", encoding="Latin-1")
tempMax = pd.read_csv("Actividad2.1/TemperaturaMaxima2019.csv", encoding="Latin-1")

*Como vimos en la sección pasada, podemos sumar las tablas, con riesgo de que no salga lo que esperamos, también se pueden hacer operaciones entre columnas o filas, sin embargo, lo que usaremos en este caso es el método "merge" de pandas, que nos permite juntar varias tablas, sin perder información y uniendo las filas y columnas que son iguales en varias tablas, de la siguiente manera:*

In [68]:
mergedTemperature = pd.merge(tempMin, tempMedia)
mergedTemperature = pd.merge(mergedTemperature, tempMax)

Veamos cuáles son las diferencias entre las 3 tablas por separado y las tabla "merge", esto con ayuda de un objeto que crearemos a continuación llamada *Display*

In [69]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [70]:
display('tempMin', 'tempMedia', 'tempMax', 'mergedTemperature')

tempMin
        Lon    Lat  Clave   Edo                            Est       Tmin
0    -99.75  16.76  76805   GRO                       ACAPULCO  21.606452
1   -111.83  30.71  76113   SON                          ALTAR   6.055172
2    -93.90  16.24  76840  CHIS                        ARRIAGA  21.712903
3    -90.50  19.83  76695  CAMP                       CAMPECHE  17.348148
4   -111.65  25.01  76402   BCS               CD. CONSTITUCIÓN   8.545161
..      ...    ...    ...   ...                            ...        ...
655  -95.52  18.63  NLTVC   VER  Naranjal Lerdo de Tejada Ver.  17.846154
656  -97.24  19.58  PERVC   VER                    Perote Ver.   0.200000
657  -89.50  21.08  CONYC   YUC                    Conkal Yuc.  13.612903
658 -103.46  21.47  TGOZC   ZAC   Teúl de González Ortega Zac.   5.055556
659 -102.79  21.56  TLAZC   ZAC              Tlalchichila Zac.   4.203704

[660 rows x 6 columns]

tempMedia
        Lon    Lat  Clave   Edo                            Est       Tmed
0    -99.75  16.76  76805   GRO                       ACAPULCO  27.441935
1   -111.83  30.71  76113   SON                          ALTAR  13.462069
2    -93.90  16.24  76840  CHIS                        ARRIAGA  28.088710
3    -90.50  19.83  76695  CAMP                       CAMPECHE  23.374074
4   -111.65  25.01  76402   BCS               CD. CONSTITUCIÓN  17.987097
..      ...    ...    ...   ...                            ...        ...
630  -99.24  19.47  CCH N   MEX                  CCH Naucalpan  15.232258
631  -99.80  19.63  SMLMX   MEX     Santa María del Llano Méx.  11.161290
632  -95.93  17.15  ZACOX   OAX                 Zacatepec Oax.  16.697917
633  -95.52  18.63  NLTVC   VER  Naranjal Lerdo de Tejada Ver.  22.269231
634  -89.50  21.08  CONYC   YUC                    Conkal Yuc.  20.870968

[635 rows x 6 columns]

tempMax
        Lon    Lat  Clave   Edo  \
0    -99.75  16.76  76805   GRO
1   -102.29  21.85  76571   AGS
2   -111.83  30.71  76113   SON
3    -93.90  16.24  76840  CHIS
4    -90.50  19.83  76695  CAMP
..      ...    ...    ...   ...
717  -99.80  19.33  TBRMX   MEX
718  -98.90  19.44  TJCMX   MEX
719  -99.74  19.59  SLBMX   MEX
720  -95.45  18.23  LCEVC   VER
721  -87.47  20.13  SIAQR  QROO

                                                   Est       Tmax
0                                             ACAPULCO  33.277419
1                                       AGUASCALIENTES  22.941935
2                                                ALTAR  20.868966
3                                              ARRIAGA  34.464516
4                                             CAMPECHE  29.400000
..                                                 ...        ...
717                                Tres Barrancas Méx.  19.673077
718                                   El Tejocote Méx.  21.461538
719                         San Bartolo del Llano Méx.  19.865385
720                                   La Ceibilla Ver.  28.700000
721  Sian Kaan 2 Q. Roo. SMN*,,\r\n-87.47,20.13,10/...  31.258333

[722 rows x 6 columns]

mergedTemperature
        Lon    Lat  Clave   Edo                            Est       Tmin  \
0    -99.75  16.76  76805   GRO                       ACAPULCO  21.606452
1   -111.83  30.71  76113   SON                          ALTAR   6.055172
2    -93.90  16.24  76840  CHIS                        ARRIAGA  21.712903
3    -90.50  19.83  76695  CAMP                       CAMPECHE  17.348148
4   -111.65  25.01  76402   BCS               CD. CONSTITUCIÓN   8.545161
..      ...    ...    ...   ...                            ...        ...
630  -99.24  19.47  CCH N   MEX                  CCH Naucalpan   8.277419
631  -99.80  19.63  SMLMX   MEX     Santa María del Llano Méx.  -2.290323
632  -95.93  17.15  ZACOX   OAX                 Zacatepec Oax.  13.041667
633  -95.52  18.63  NLTVC   VER  Naranjal Lerdo de Tejada Ver.  17.846154
634  -89.50  21.08  CONYC   YUC                    Conkal Yuc.  13.612903

          Tmed       Tmax
0    27.441935  33.277419
1    13.462069  20.868966
2    28.088710  34.464516
3    23.374074  29.400000
4    17.987097  27.429032
..         ...        ...
630  15.232258  22.187097
631  11.161290  24.612903
632  16.697917  20.354167
633  22.269231  26.692308
634  20.870968  28.129032

[635 rows x 8 columns]

A pesar de que únicamente podemos ver algunas filas, se nota claramente la diferencia a un simple append. La tabla llamada *mergedTemperature* es la tabla obtenida por unir todas las tablas de temperaturas, ahora haremos uno para las lluvias.

### Lluvias

In [95]:
lluvias = pd.read_csv("Actividad2.1/Lluvias2019.csv", encoding="Latin-1")

In [96]:
lluvias

             LON        LAT  EDO CLAVE_SIH                       NOMBRE    ENE
0    -102.309722  21.895000  AGS     AGSAG         Aguascalientes, Ags.   6.61
1    -102.466944  22.188611  AGS     ANVAG  Cincuenta Aniversario, Ags.  10.60
2    -102.184167  21.738611  AGS     BRTAG            San Bartolo, Ags.  10.50
3    -102.712222  21.849167  AGS  CALVILLO          Calvillo, Ags. SMN*  18.17
4    -102.676944  21.997500  AGS     CDRAG            La Codorniz, Ags.  16.70
...          ...        ...  ...       ...                          ...    ...
1236 -102.344167  23.288611  ZAC     VCOZC           Villa de Cos, Zac.   7.00
1237 -101.916944  22.520278  ZAC     VGOZC  Villa González Ortega, Zac.  32.32
1238 -101.715833  22.347500  ZAC     VHGZC          Villa Hidalgo, Zac.   9.70
1239 -103.337500  21.588889  ZAC     VILZC     José María Morelos, Zac.  15.20
1240 -102.576667  22.761389  ZAC     ZACZC              Zacatecas, Zac.  12.02

[1241 rows x 6 columns]

*Ahora viene la parte complicada, juntar la tabla de lluvias con la tabla de temperaturas, esto es especialmente complicado ya que debemos notar que no tienen los mismos nombres de columna, por lo que si hacemos un merge, veamos lo que pasa*

In [97]:
pd.merge(mergedTemperature, lluvias)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

Esto es un error, ya que no coincide en lo absoluto, ninguna columna, aunque los datos de latitud, longitud y estado son los mismos, los nombres de las columnas no lo son, los de lluvias están en mayúsculas y los de la tabla merge no

*Lo que tenemos que hacer es, renombrar las columnas de la tabla de lluvias, además de remover algunas columnas que no nos sirven para juntar las tablas, se pierde información, sin embargo no se puede hacer de otra manera... Bueno, sí, creando un diccionario a mano de más de 600 registros, cosa que por supuesto, no haré*

In [98]:
lluvias.rename(columns=lambda x: x.capitalize(), inplace=True)
lluvias = lluvias.drop(columns="Nombre")
lluvias = lluvias.drop(columns=["Lon", "Lat"])
lluvias = lluvias.rename(columns={"Clave_sih":"Clave"})

In [99]:
lluvias

      Edo     Clave    Ene
0     AGS     AGSAG   6.61
1     AGS     ANVAG  10.60
2     AGS     BRTAG  10.50
3     AGS  CALVILLO  18.17
4     AGS     CDRAG  16.70
...   ...       ...    ...
1236  ZAC     VCOZC   7.00
1237  ZAC     VGOZC  32.32
1238  ZAC     VHGZC   9.70
1239  ZAC     VILZC  15.20
1240  ZAC     ZACZC  12.02

[1241 rows x 3 columns]

Una vez cambiados los nombres, podemos hacer merge

In [100]:
completeTable = pd.merge(mergedTemperature, lluvias)
completeTable

,Lon,Lat,Clave,Edo,Est,Tmin,Tmed,Tmax,Ene
0,-101.47,21.07,COMGJ,GTO,Comanjilla Gto.,6.193548,15.846774,25.500000,0.00
1,-101.22,21.48,SFEGJ,GTO,San Felipe Gto.,2.596774,11.250000,19.903226,3.20
2,-98.76,18.88,OCTMR,MOR,Ocuituco Mor.,8.677419,17.416129,26.154839,0.00
3,-107.76,25.12,RAVSI,SIN,Estación Rancho Viejo Sin.,10.451613,20.290323,30.129032,0.01
4,-95.03,18.52,SONVC,VER,Sontecomapan Ver.,14.740741,20.009259,25.277778,181.53
...,...,...,...,...,...,...,...,...,...
501,-99.65,19.30,RECMX,MEX,Rectoría Méx.,6.806452,12.388710,17.970968,2.62
502,-99.80,19.63,SMLMX,MEX,Santa María del Llano Méx.,-2.290323,11.161290,24.612903,6.01
503,-95.93,17.15,ZACOX,OAX,Zacatepec Oax.,13.041667,16.697917,20.354167,58.82
504,-95.52,18.63,NLTVC,VER,Naranjal Lerdo de Tejada Ver.,17.846154,22.269231,26.692308,43.92
505,-89.50,21.08,CONYC,YUC,Conkal Yuc.,13.612903,20.870968,28.129032,35.20

Ahora, sólo para presumir que sé cambiar columnas de lugar, moveremos la "Clave" al principio

In [101]:
cols = ['Clave']  + [col for col in completeTable if col != 'Clave']
completeTable = completeTable[cols]

Y por último, tenemos por fin lo que queríamos, le cambiamos el nombre a "Est" por ciudad, porque de hecho eso es lo que representa

In [102]:
completeTable = completeTable.rename(columns={"Est":"Ciudad"})

In [103]:
completeTable

,Clave,Lon,Lat,Edo,Ciudad,Tmin,Tmed,Tmax,Ene
0,COMGJ,-101.47,21.07,GTO,Comanjilla Gto.,6.193548,15.846774,25.500000,0.00
1,SFEGJ,-101.22,21.48,GTO,San Felipe Gto.,2.596774,11.250000,19.903226,3.20
2,OCTMR,-98.76,18.88,MOR,Ocuituco Mor.,8.677419,17.416129,26.154839,0.00
3,RAVSI,-107.76,25.12,SIN,Estación Rancho Viejo Sin.,10.451613,20.290323,30.129032,0.01
4,SONVC,-95.03,18.52,VER,Sontecomapan Ver.,14.740741,20.009259,25.277778,181.53
...,...,...,...,...,...,...,...,...,...
501,RECMX,-99.65,19.30,MEX,Rectoría Méx.,6.806452,12.388710,17.970968,2.62
502,SMLMX,-99.80,19.63,MEX,Santa María del Llano Méx.,-2.290323,11.161290,24.612903,6.01
503,ZACOX,-95.93,17.15,OAX,Zacatepec Oax.,13.041667,16.697917,20.354167,58.82
504,NLTVC,-95.52,18.63,VER,Naranjal Lerdo de Tejada Ver.,17.846154,22.269231,26.692308,43.92
505,CONYC,-89.50,21.08,YUC,Conkal Yuc.,13.612903,20.870968,28.129032,35.20

### FINALLY! Dio resultado, juntamos la tabla de lluvias con el de temperaturas y todos felices y contentos...
Note que no están todos los registros porque algunos registros son completamente disintos de una tabla a otra, aunque se trate de la misma ciudad. La manera en cómo escribieron los datos, está bien fea

Ya por último: Exportaremos el resultado final a un archivo csv como vimos en la actividad 2.2

In [104]:
completeTable.to_csv("Tabla de lluvias y temperaturas unidas.csv")

In [ ]:
s